@import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
// @import 'main/parameters';// переменные

//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
// @import 'main/common'; // общие стили
// @import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

$color-white: #FFFFFF;
$color-light: #DADADA;
$color-black: #000000;
$color-dark: #222222;
$color-gray: #B8B5B5;
$color-alt: #8D8D8D;

$bg-page: #fafafa;
$bg-alt: #252831;
$bg-white: #ffffff;
$bg-btn: #222222;

$main: #D7B494;
$attention: #E20613;


@import 'index';
@import 'product';
@import 'contacts';
@import 'catalog';
@import 'reviews';
@import 'showroom';
@import 'trying-on';
@import 'brand';
@import 'favorites';
@import 'registration';

@import 'components/footer';
@import 'components/header';
@import 'components/clients-and-review';
@import 'components/showroom-gallery';
@import 'components/showroom-form';
@import 'components/reviews-video';
@import 'components/social-list';
@import 'components/size-selection';
@import 'components/product-card';
@import 'components/contact-details';
@import 'components/full-menu';
@import 'components/modals';


a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
body {
  background: $bg-page;
}

.main-foter {
  background: $bg-page;
}
.container {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}
.scroll-hidden {
  overflow: hidden;
}


/***   MEDIA QUERIES   ***/
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1380px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 577px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}