/***   PRODUCT   ***/

.product {
  font-family: 'FuturaMediumC';
  font-weight: 500;
  padding: 50px 0 86px;
  color: $color-dark;
  background: $bg-page;
  @mixin product-title() {
    font-size: 15px;
    line-height: 140%;
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
  }
  &__slider {
    max-width: 940px;
    width: 100%;
    background-color: rgb(220, 195, 195);
    font-size: 24px;
  }
  &__inner {
    max-width: 400px;
    width: 100%;
    margin-left: 40px;
  }
  &__name {
    margin: 8px 0;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0.05em;
    max-width: 340px;
  }
  &__price {
    font-family: 'Lato';
    font-weight: normal;
    font-size: 22px;
    line-height: 91%;
    margin-bottom: 8px;
    span {
      color: $main;
    }
  }
  &__size-selection {
    font-size: 0;
    color: $main;
    margin-bottom: 20px;
    .size-selection__label {
      &::before {
        border: 1px solid $main;
      }
      &:hover {
        color: $color-dark;
        &::before {
          border: 1px solid $color-dark;
          z-index: 3;
        }
      }
    }
  }
  &__size-title {
    @include product-title();
    margin-bottom: 12px;
  }
  &__size-prompt,
  &__size-help {
    display: inline-block;
    color: $main;
    position: relative;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  &__size-prompt {
    padding-left: 20px;
    margin-right: 10px;
    &::before {
      content: "";
      position: absolute;
      background: url(../imgs/icons/hanger-icon.svg);
      display: block;
      width: 15px;
      height: 14px;
      background-size: cover;
      left: 0px;
      top: 2px;
    }
  }
  &__size-help {
    padding-left: 25px;
    &::before {
      content: "";
      position: absolute;
      background: url(../imgs/icons/attention-icon.svg);
      display: block;
      width: 21px;
      height: 21px;
      left: 0px;
    }
  }
  &__color {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__color-title {
    @include product-title();
  }
  &__color-list {
    display: flex;
  }
  &__color-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin: 0 7px;
    border-radius: 50%;
    border: 1px solid #E2DFDF;
    position: relative;
    &--one::before,
    &--two::before,
    &--three::before {
      content: '';
      position: absolute;
      border-width: 6px;
      border-style: solid;
      display: block;
      border-radius: 50%;
      width: 22px;
      height: 22px;
    }
    &--one::before {
      border-color:#242424;
    }
    &--two::before {
      border-color:#F2404A;
    }
    &--three::before {
      border-color:#E2DFDF;
    }
  }
  &__btn-block {
    margin-bottom: 14px;
  }
  &__btn {
    @include btn--common();
    margin-bottom: 20px;
    &--special {
      @include btn--alt();
    }
  }
  &__btn--fitting {
    width: calc(40% - 10px);
    margin-right: 10px;
  }
  &__btn--buy {
    width: 60%;
  }
  &__description,
  &__structure {
    font-size: 17px;
    line-height: 23px;
    color: #242424;
    margin-bottom: 22px;
    & span {
      font-weight: 600;
    }
  }
  &__structure {
    margin-bottom: 36px;
  }
  &__tab input,
  &__list {
    display: none;
  }
  &__tab {
    color: $color-dark;
    margin-top: -1px;
  }
  &__label {
    @include product-title();
    position: relative;
    padding: 14px 13px;
    display: block;
    cursor: pointer;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }
  &__list {
    padding: 0px 13px;
    border-bottom: 1px solid #E6E6E6;
  }
  &__list-item {
    display: flex;
    font-size: 15px;
    line-height: 130%;
    color: #242424;
    margin-bottom: 21px;
  }
  &__list-naming {
    flex: 0 0 55%;
  }
  &__list-value {
    font-family: 'FuturaBookC';
    font-weight: normal;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 40px;
      bottom: -10px;
      left: -10px;
      display: block;
      background-color: #E6E6E6;
    }
  }
  &__tab :checked + &__label {
    border-bottom: none;
  }
  &__label:after, 
  &__tab :checked + &__label:after {
    position: absolute;
    content: '';
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-size: cover;
  }
  &__label:after {
    background: url(../imgs/icons/plus.svg);
    width: 11px;
    height: 11px;
  }
  &__tab :checked + .product__label:after {
    background: url(../imgs/icons/minus.svg);
    width: 11px;
    height: 1px;
  }
  &__tab :checked ~ .product__list {
    display: block;
  }

  /* slider */
  &__slider-main {
    margin: 0 -8px;
    & .swiper-slide {
      padding: 0 8px;
      text-align: center;
      cursor: pointer;
      img {
        width: 47px;
        height: 71px;
        object-fit: cover;
      }
    }
    & .swiper-slide-thumb-active {
      padding: 10px 0;
      border: 1px solid #DCDCDC;
    }
  }
  &__slider-additional {
    width: 700px;
    height: 900px;
    margin-left: 105px;
    & .swiper-slide {
      img {
        width: 100%;
      }
    }
  }
}



/***   OFFER   ***/
.offer {
  font-family: 'FuturaMediumC';
  font-weight: 500;
  position: relative;
  margin-bottom: 32px;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      top: 48px;
      background-color: #E6E6E6;
    }
  &__title {
    @include section-title();
    text-align: left;
    margin-bottom: 50px;
  }
  &__wrapper {
    max-width: 1157px;
    width: 100%;
    margin-left: 140px;
  }
  .swiper-slide {
    width: auto;
  }
  .offer-slider__pagination {
    display: none;
  }
  // &__cell {
  // }
  // &__img {
  //   width: 100%;
  //   margin-bottom: 13px;
  // }
  // &__name {
  //   font-size: 15px;
  //   line-height: 107%;
  //   max-width: 174px;
  //   &::before {
  //     content: '/';
  //     padding-right: 2px;
  //   }
  // }
  // &__group {
  //   display: flex;
  //   justify-content: space-between;
  //   min-height: 54px;
  // }
  // &__feature {
  //   font-size: 12px;
  //   line-height: 175%;
  //   text-align: right;
  //   color: #AFAFAF;
  //   margin-left: auto;
  // }
}


/***   ADVANTAGES   ***/
.advantages {
  font-family: 'HelveticaNeueCyr';
  font-weight: 400;
  color: #C0A78F;
  padding-bottom: 90px;
  &__wrapper {
    display: flex;
    font-size: 0;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__img-box {
    background: $bg-alt;
  }
  &__block {
    /* кастыль который убирает зазор в один пиксель */
    margin-top: -1px;
  }
  &__inner {
    padding: 65px 45px 55px 41px;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: 0.03em;
    // max-height: 516px;
    max-width: 50%;
    position: relative;
    background: #252831;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      /* решение проблемы (накинул 20 px чтобы не мешал скрол)*/
      width: calc((100vw - 1360px) / 2);
      max-width: 300px;
    }
    &--one::after {
      left: 100%;
      background: linear-gradient(to top left, rgba(0, 0, 0, 0) 49.9%, #252831 49.9%);
    }
    &--two::after {
      left: 1px;
      right: 100%;
      background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 49.9%, #252831 49.9%);
      transform: translateX(-100%);
    }
  }
  &__title {
    @include section-title();
    color: $color-white;
    text-align: left;
    margin-bottom: 38px;
  }
  &__title-two {
    margin-top: 11px;
  }
  &__list {
    margin-left: -30px;
    column-count:2;
    counter-reset: list;
  }
  &__list--a {
    // max-height: 250px;
  }
  &__item {
    position: relative;
    counter-increment: list;
    max-width: 235px;
    margin-bottom: 23px;
    margin-left: 65px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      position: absolute;
      content: counter(list);
      font-family: 'FuturaDemiC';
      font-weight: 600;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      left: -35px;
      border: 2px solid $main;
    }
  }
  &__text {
    margin-bottom: 35px;
  }
  &__btn {
    @include btn--main();
    margin-left: auto;
    display: block;
    font-size: 15px;
    width: 233px;
  }
}


@media screen and (max-width: 1380px) {
  .advantages {
    &__inner {
      &--one::after {
        background: none;
      }
      &--two::after {
        background: none;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .product {
    &__slider-additional {
      margin-left: 40px;
    }
  }
  .offer {
    &__wrapper {
      margin: 0 auto;
    }
  }
  .advantages {
    &__block--one {
      background: $bg-alt;
      margin-bottom: 320px;
    }
    &__block--two {
      margin-bottom: 320px;
    }
    &__wrapper {
      position: relative;
    }
    &__inner {
      max-width: 100%;
      z-index: 1;
      padding-bottom: 320px;
      &--two {
        background-color: $bg-page;
        color: #222222;
      }
    }
    &__title-two {
      color: #222222;
    }
    &__list {
      margin-left: 0px;
      column-count: 1;
    }
    &__item {
      max-width: 100%;
      &::before {
        color: #C0A78F;
      }
    }
    &__img {
      position: absolute;
      width: 80%;
      height: auto;
      z-index: 4;
      margin: 0 auto;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 60%);
    }
    &__btn {
      display: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .product {
    &__slider-main {
      display: none;
    }
    &__slider-additional {
      width: 100%;
      height: 100%;
      margin: 0;
      .swiper-pagination-bullet {
        background: #FFFFFF;
      }
    }
  }
  .advantages {
    &__block--one,
    &__block--two {
      margin-bottom: 230px;
    }
    &__inner {
      padding-bottom: 230px;
    }
  }
}

@media screen and (max-width: 767px) {
  .product {
    &__wrapper {
      display: block;
    }
    &__slider-additional {
      margin-bottom: 40px;
    }
    &__name {
      max-width: 400px;
    }
    &__inner {
      max-width: 100%;
      margin-left: 0px;
    }
  }
  .advantages {
    &__block--one,
    &__block--two {
      margin-bottom: 190px;
    }
    &__inner {
      padding-bottom: 190px;
    }
  }
}

@media screen and (max-width: 576px) {
  .product {
    padding-top: 0;
    &__wrapper {
      margin-left: -10px;
      margin-right: -10px;
    }
    &__slider-additional {
      width: 100%;
    }
    &__inner {
      padding: 0 10px;
    }
  }
  .advantages {
    &__block--one,
    &__block--two {
      margin-bottom: 160px;
    }
    &__inner {
      padding-bottom: 160px;
    }
    &__img--one {
      transform: translate(-30% ,60%);
      width: 90%;
    }
    &__img--two {
      transform: translate(-70% ,60%);
      width: 90%;
    }
  }
}