.contact-details {
  font-family: 'FuturaMediumC';
  font-weight: 500;
  &__address,
  &__mode {
    font-size: 14px;
  }
  &__phone,
  &__whatsapp,
  &__email {
    font-size: 15px;
    display: block;
    transition: color .2s;
    &:hover {
      color: $main;
    }
  }
}