@import "../main/parameters"; // для каждого компонента нужно импортить переменные, чтобы их использовать

/***   HEADER   ***/
.header {
  background: $bg-white;
  color: $color-dark;
  padding: 25px 0 13px;
  position: sticky;
  top: 0;
  z-index: 9;
  &.active {
    background: #171717;
    color: $bg-white;
    height: 100vh;
  overflow: auto;
    & .social-icon {
      fill: #ffffff;
      &--instagram:hover { fill: #3f729b; }
      &--vkontakte:hover { fill: #5d84ae; }
      &--facebook:hover { fill: #3b5998; }
    }
    & .topbar__phone-link {
      color: #ffffff;  
      &:hover { color: $main; }
    }
    .topbar__favorites-link::after {
      color: #ffffff;  
    }
    & .topbar__favorites-icon {
      fill: #ffffff;
      &:hover { fill: $main; }
    }
    & .topbar__basket-icon {
      path {
        stroke: #ffffff;
      }
      .icon-cart-fill {
        fill: transparent;
      }
      &:hover {
        path {
          stroke: #E1C4A9;
        }
      } 
    }
    
    & .topbar__logo-link {
      fill: #ffffff;
      &::after {
        color: #ffffff;
      }
    }
    & .topbar__borger-link {
      background: url(../imgs/icons/burger-close.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  & .full__list-link {
    transition: color .2s;
    &:hover {
      color: $main;
    }
  }
}


/***   TOPBAR   ***/
.topbar {
  display: grid;
  grid-template-columns: 90px 105px 1fr 185px 48px 29px;
  margin-bottom: 35px;
  &__borger-link {
    width: 27px;
    height: 20px;
    background: url(../imgs/icons/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__social {
    display: flex;
    align-items: center;
    font-size: 0;
  }
  &__logo {
    height: auto;
    margin: 0 auto;
    max-width: 140px;
    max-height: 26px;
    font-size: 0;
  }
  &__logo-link {
    position: relative;
    &::after {
      @include logo-description();
    }
  }
  &__logo-icon {
    max-width: 140px;
    max-height: 26px;
    vertical-align: top;
  }
  &__phone {
    margin-bottom: 5px;
  }
  &__phone-link {
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: -0.2px;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    @include hover-text();
  }
  &__follow {  }
  &__favorites-link {
    margin: 0 9px 0 15px;
    position: relative;
    height: 26px;
    &:first-child {
      margin-left: 0;
    }
    &::after {
      content: "0";
      position: absolute;
      top: -6px;
      right: -8px;
      font-family: 'Lato';
      font-weight: bold;
      font-size: 9px;
      color: #333333;
    }
  }
  &__favorites-icon {
    width: 23px;
    height: 20px;
    &:hover {
      fill: $main;
    }
  }
  &__basket-icon {
    height: 22px;
    width: 20px;
    &:hover {
      path {
        stroke: #E1C4A9;
      }
      .icon-cart-fill {
        fill: #FFF;
      }
    } 
  }
}

#icon-cart path {
  fill: red;
}
.icon-cart-fill:hover {
  fill: red;
}

/***   NAV   ***/
.nav {
  margin: 0 auto;
  max-width: 998px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__list-item {
    min-width: 94px;
  }
  &__list-link {
    text-transform: uppercase;
    font-family: 'FuturaMediumC';
    font-size: 14px;
    &:hover {
      color: darken($color: $main, $amount: 30%);
    }
  }
}


/***   FULL   ***/
.full {
  font-family: 'FuturaMediumC';
  font-weight: 500;
  &__wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 124px 0;
    background: #171717;
  }
  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 50px;
  }
  &__list-link {
    font-size: 19px;
    line-height: 253%;
  }
}


/***   CONNECTION   ***/
.connection {
  position: fixed;
  right: 1.75%;
  top: 50%;
  z-index: 20;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__group {
    margin-top: 45px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    height: 58px;
    background: #E1C4A9;
    border-radius: 23px;
    margin-bottom: 8px;
    transition: all .6s;
    &:hover {
      border-radius: 50%;
      background: darken(#E1C4A9, 5%);
    }
  }
  &__link-post {
    position: relative;
    &::after {
      content: '1';
      position: absolute;
      top: -5px;
      right: -3px;
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 50%;
      background-color: $attention;
      color: $color-white;
      text-align: center;
      line-height: 20px;
      font-family: 'Proxima Nova';
      font-weight: 600;
      font-size: 12px;
      line-height: 167%;
      letter-spacing: 0.1em;
    }
  }
  &__link-top {
    @include link-alt();
    transform: rotate(90deg);
    position: relative;
  }
  &__link-top {
    /* решение проблемы (всё дело в абсолютах) перекрывает то что написано сверху*/
    font-family: 'Lato';
    display: inline-block;
    font-size: 13px;
    line-height: 177%;
    color: #C0C0C0;
    position: relative;
    letter-spacing: 0.55px;
    padding-right: 60px;
    cursor: pointer;
    padding-left: 60px;
    padding-right: 0;
    transform: rotate(90deg);
    position: absolute;
    letter-spacing: 0.1em;
    top: -22.2%;
    left: 4px;
  }
}


/***   MEDIA   ***/
@media screen and (max-width: 1380px) {}
@media screen and (max-width: 1199px) {
.full {
  &__wrapper {
    flex-wrap: wrap;
    justify-content: start;
    padding: 80px 0;
  }
  &__inner {
    flex: 0 0 33%;
  }
  &__title {
    margin: 40px 0 30px;
  }
  &__list-link {
    line-height: 200%;
  }
}
}
@media screen and (max-width: 991px) {
  .topbar {
    grid-template-columns: 90px 105px 1fr 49px 29px;
    &__logo {
      margin-left: 50px;
    }
    &__phone {
      display: none;
    }
  }
  .nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .topbar {
    grid-template-columns: 90px 1fr 49px 29px;
    &__social {
      display: none;
    }
    &__logo {
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 576px) {
  .topbar {
    grid-template-columns: 40px 40px 1fr 90px;
    &__borger {
      transform: scale(.8);
    }
    &__logo {
      margin: 0 auto;
      max-width: 100px;
      &-link::after {
        @include logo-description-alt();
        top: 4px;
      }
    }
    &__follow--favorites {
      transform: scale(.8);
      grid-column: 2;
      grid-row: 1;
    }
    &__follow--basket {
      transform: scale(.8);
      grid-column: 4;
      grid-row: 1;
      margin-left: auto;
    }
  }
  
  .connection {
    &__group {
      transform: scale(.7);
    }
    &__link-top {
      bottom: -30px;
    }
  }
  .header {
  }
  .full__wrapper {
    padding: 0;
    display: block;
  }
}