// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../main/parameters";

.header {
  background: $bg-white;
  color: $color-dark;
  padding: 25px 0 13px;
  &.active {
    background: #171717;
    color: $bg-white;
    height: 100vh;
    & .topbar__social-icon,
    & .topbar__logo-icon {
      fill: #ffffff;
    }
    & .topbar__phone-link {
      color: #ffffff;
    }
    & .topbar__logo-link {
      &::after {
        color: #ffffff;
      }
    }
    & .topbar__borger-link {
      background: url(../imgs/icons/burger-close.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  &__group {
    display: flex;
    align-items: center;
  }
  &__borger {
    margin-right: 63px;
  }
  &__borger-link {
    width: 27px;
    height: 20px;
    background: url(../imgs/icons/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__social {
    display: flex;
    align-items: center;
    font-size: 0;
  }
  &__social-icon {
    margin-right: 25px;
      fill: #2F2F2F;
      font-size: 0;
    &--instagram {
      height: 18px;
      width: 18px;
    }
    &--vkontakte {
      width: 20px;
      height: 12px;
    }
    &--facebook {
      width: 8px;
      height: 17px;
    }
  }
  &__logo {
    font-size: 0;
    margin-left: -15px;
  }
  &__logo-link {
    position: relative;
    &::after {
      content: "Женский смокинг";
      position: absolute;
      top: -2px;
      right: -5px;
      transform: translateX(100%);
      font-family: 'Lato';
      display: inline-block;
      color: $color-alt;
      max-width: 72px;
      font-weight: 500;
      font-size: 10px;
      text-transform: uppercase;
      vertical-align: top;
      letter-spacing: 0.1em;
    }
  }
  &__logo-icon {
    max-width: 140px;
    max-height: 26px;
    vertical-align: top;
  }
  &__phone {
    margin-right: 53px;
    margin-bottom: 5px;
  }
  &__phone-link {
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: -0.2px;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
  }
  &__panel {
    font-size: 0;
    display: flex;
  }
  &__panel-link {
    margin: 0 9px 0 15px;
    position: relative;
    height: 26px;
    &:first-child {
      margin-left: 0;
    }
    &::after {
      content: "0";
      position: absolute;
      top: -6px;
      right: -8px;
      font-family: 'Lato';
      font-weight: bold;
      font-size: 9px;
      color: #333333;
    }
  }
}

.nav {
  margin: 0 auto;
  max-width: 998px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__list-item {
    min-width: 94px;
  }
  &__list-link {
    text-transform: uppercase;
    font-family: 'Futura Bk BT';
    font-size: 14px;
  }
}

.full {
  // display: none;
  font-family: 'FuturaMediumC';
  font-weight: 500;
  &__wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 124px 0;
  }
  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 50px;
  }
  &__list-link {
    font-size: 19px;
    line-height: 253%;
  }
}

.connection {
  position: fixed;
  right: 1.7%;
  top: 50%;
  z-index: 20;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__group {
    margin-top: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    height: 58px;
    background: #E1C4A9;
    border-radius: 23px;
    margin-bottom: 5px;
  }
  &__link-top {
    @include link-alt();
    transform: rotate(90deg);
    position: relative;
    right: -20px;
  }
}

@media screen and (max-width: 1380px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {
  .topbar {
    flex-wrap: wrap;
    justify-content: space-between;
    &__group,
    &__logo {
      flex: 0 0 calc(100%/3);
    }
    &__group--two {
      flex-direction: row-reverse;
    }
    &__logo {
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    &__phone {
      display: none;
    }
  }
  .nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .topbar {
    &__social {
      display: none;
    }
    &__logo {
      justify-content: start;
    }
  }
}
@media screen and (max-width: 576px) {
  
}