@import "../main/parameters"; // для каждого компонента нужно импортить переменные, чтобы их использовать

/***   HEADER   ***/
.header {
  background: $bg-white;
  color: $color-dark;
  padding: 25px 0 13px;
  &.active {
    background: #171717;
    color: $bg-white;
    height: 100vh;
    & .topbar__social-icon,
    & .topbar__logo-icon {
      fill: #ffffff;
    }
    & .topbar__phone-link {
      color: #ffffff;
    }
    & .topbar__logo-link {
      fill: #ffffff;
      &::after {
        color: #ffffff;
      }
    }
    & .topbar__borger-link {
      background: url(../imgs/icons/burger-close.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}


/***   TOPBAR   ***/
.topbar {
  display: grid;
  grid-template-columns: 90px 105px 1fr 184px 49px 29px;
  margin-bottom: 35px;
  &__borger-link {
    width: 27px;
    height: 20px;
    background: url(../imgs/icons/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__social {
    display: flex;
    align-items: center;
    font-size: 0;
  }
  &__social-icon {
    margin-right: 25px;
      fill: #2F2F2F;
      font-size: 0;
    &--instagram {
      height: 18px;
      width: 18px;
    }
    &--vkontakte {
      width: 20px;
      height: 12px;
    }
    &--facebook {
      width: 8px;
      height: 17px;
    }
  }
  &__logo {
    height: auto;
    margin: 0 auto;
    max-width: 140px;
    max-height: 26px;
    font-size: 0;
  }
  &__logo-link {
    position: relative;
    &::after {
      @include logo-description();
    }
  }
  &__logo-icon {
    max-width: 140px;
    max-height: 26px;
    vertical-align: top;
  }
  &__phone {
    margin-bottom: 5px;
  }
  &__phone-link {
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: -0.2px;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
  }
  &__follow {  }
  &__follow-link {
    margin: 0 9px 0 15px;
    position: relative;
    height: 26px;
    &:first-child {
      margin-left: 0;
    }
    &::after {
      content: "0";
      position: absolute;
      top: -6px;
      right: -8px;
      font-family: 'Lato';
      font-weight: bold;
      font-size: 9px;
      color: #333333;
    }
  }
}


/***   NAV   ***/
.nav {
  margin: 0 auto;
  max-width: 998px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__list-item {
    min-width: 94px;
  }
  &__list-link {
    text-transform: uppercase;
    font-family: 'Futura Bk BT';
    font-size: 14px;
  }
}


/***   FULL   ***/
.full {
  font-family: 'FuturaMediumC';
  font-weight: 500;
  &__wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 124px 0;
  }
  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 50px;
  }
  &__list-link {
    font-size: 19px;
    line-height: 253%;
  }
}


/***   CONNECTION   ***/
.connection {
  position: fixed;
  right: 1.7%;
  top: 50%;
  z-index: 20;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__group {
    margin-top: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    height: 58px;
    background: #E1C4A9;
    border-radius: 23px;
    margin-bottom: 5px;
  }
  &__link-top {
    @include link-alt();
    transform: rotate(90deg);
    position: relative;
    right: -20px;
  }
}


/***   MEDIA   ***/
@media screen and (max-width: 1380px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {
  .topbar {
    grid-template-columns: 90px 105px 1fr 49px 29px;
    &__logo {
      margin-left: 50px;
    }
    &__phone {
      display: none;
    }
  }
  .nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .topbar {
    grid-template-columns: 90px 1fr 49px 29px;
    &__social {
      display: none;
    }
    &__logo {
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 576px) {
  .topbar {
    grid-template-columns: 40px 40px 1fr 90px;
    &__borger {
      transform: scale(.8);
    }
    &__logo {
      margin: 0 auto;
      max-width: 100px;
      &-link::after {
        @include logo-description-alt();
        top: 4px;
      }
    }
    &__follow--favorites {
      transform: scale(.8);
      grid-column: 2;
      grid-row: 1;
    }
    &__follow--basket {
      transform: scale(.8);
      grid-column: 4;
      grid-row: 1;
      margin-left: auto;
    }
  }
  
  .connection {
    &__group {
      transform: scale(.7);
    }
    &__link-top {
      bottom: -30px;
    }
  }
}