// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../main/parameters";
$animation-transition: all ease .3s;

.cart {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 19;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: $animation-transition;
  &.open {
    opacity: 1;
    visibility: visible;
    .cart__wrapper {
      opacity: 1;
      transform: translate(0, 0%);
    }
  }
  &__wrapper {
    position: absolute;
    top: 5%;
    right: 5%;
    max-width: 640px;
    padding: 46px;
    background-color: #fff;
    color: #242424;
    transition: $animation-transition;
    opacity: 0;
    transform: translate(0, -100%);
  }
  &__header { }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0;
    margin-bottom: 35px;
    &--header {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #E0E0E0;
        display: block;
        top: 50%;
      }
    }
    &--footer {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #E0E0E0;
        display: block;
        top: -15px;
      }
    }
  }
  &__product-img-box {
    max-width: 148px;
    max-height: 197px;
    grid-row: span 4;
    margin-right: 18px;
  }
  &__product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-family: 'FuturaMediumC';
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    text-transform: uppercase;
    background: #fff;
    z-index: 2;
    padding-right: 10px;
  }
  &__close {
    box-sizing: border-box;
    z-index: 2;
    padding-left: 10px;
    background: #fff;
  }
  &__close-icon {
    height: 13px;
    width: 13px;
    &:hover {
      fill: $main;
    }
  }
  &__list {

  }
  &__product {
    display: grid;
    row-gap: 30px;
    grid-template-columns: 148px 1fr 1fr;
    margin-bottom: 40px;
  }
  &__product-name {
    font-family: 'FuturaMediumC';
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    grid-column: 2;
    max-width: 240px;
  }
  &__product-size, &__product-amount {
    font-family: 'FuturaBookC';
    font-size: 17px;
    line-height: 135%;
    grid-column: 2;
  }
  &__product-counter {
    display: flex;
    grid-column: 2;
  }
  
  &__product-reduce,
  &__product-add,
  &__product-count {
    width: 40px;
    height: 40px;
    border: 1px solid #DADADA;
    line-height: 40px;
    text-align: center;
    color: #C6C6C6;
  }
  &__product-reduce,
  &__product-add {
    cursor: pointer;
    font-size: 36px;
    user-select: none;
    &:hover {
      color: $main;
    }
  }
  &__product-reduce {
    line-height: 34px;
  }
  &__product-count {
    font-family: 'FuturaBookC';
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-right: 0;
    border-left: 0;
  }
  &__product-delete {
    font-family: 'FuturaBookC';
    font-size: 17px;
    line-height: 40px;
    color: #C7C3C3;
    width: 135px;
    height: 40px;
    padding-left: 12px;
    margin-left: auto;
    border: 1px solid #DADADA;
    position: relative;
    cursor: pointer;
    grid-column: 3;
    &::after {
      position: absolute;
      content: '';
      background: url(../imgs/icons/cart-delete.svg) center;
      height: 13px;
      width: 13px;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
    &:hover {
      border: 1px solid $main;
      color: $main;
    }
  }
  &__footer {  }
  &__price {
    text-align: right;
    font-family: 'FuturaMediumC';
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    grid-column: 3;
  }
  &__btn {
    @include btn--alt();
  }
}



.pre-order {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 19;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: $animation-transition;
  &__wrapper {
    width: 1017px;
    margin: 0 auto;
    padding: 70px 120px;
    background: #fff;
    color: #171717;
    font-family: 'FuturaBookC';
    position: relative;
    top: 10%;
    transition: $animation-transition;
    opacity: 0;
    transform: translate(0, -100%);
  }
  &__close {
    position: absolute;
    user-select: none;
    height: 25px;
    width: 120px;
    color: #fff;
    background: #000;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 25px;
    padding: 0 12px;
    &-text {
      font-size: 12px;
      font-family: 'FuturaMediumC';
      font-weight: 500;
    text-transform: uppercase;
    }
    &-btn {
      display: block;
      height: 13px;
      width: 13px;
      font-size: 0;
    }
    &-icon {
      width: 100%;
      height: 100%;
      fill: #fff;
      &:hover {
        fill: $main;
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      right: 32px;
      background-color: #fff;
    }
  }
  &__title {
    font-size: 30px;
    line-height: 77%;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'FuturaMediumC';
    font-weight: 500;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 128%;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'FuturaMediumC';
    font-weight: 500;
  }
  &__block {
    column-count: 2;
    margin-bottom: 20px;
  }
  &__item {
    font-size: 18px;
    line-height: 128%;
    margin-bottom: 20px;
    span {
      font-family: 'FuturaBookC';
      color: $main;
    }
  }
  .contact-details__phone,
  .contact-details__whatsapp {
    margin-bottom: 10px;
    font-size: 18px;
  }
  &-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px 16px;
    &__input {
      grid-column: span 1;
      position: relative;
      &::after {
        content: '*';
        position: absolute;
        font-size: 18px;
        top: 42%;
        right: 10px;
        color: #c1c1c1;
      }
    }
    &__name,
    &__phone,
    &__email,
    &__comment {
      width: 100%;
      height: 60px;
      padding: 16px;
      border: 1px solid #000000;
      position: relative;
      &::placeholder {
        text-transform: uppercase;
      }
    }
    &__comment {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      width: 100%;
      height: 100px;
      resize: none;
      grid-column: 2 span;
      &::placeholder {
      }
    }
    &-selection {
      font-size: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 100px;
      width: max-content;
    }
    &__checkbox {
      display: none;
      &:checked + .pre-order-form__label::after {
        content: '';
        position: absolute;
        height: 11px;
        width: 16px;
        display: block;
        left: -35px;
        top: 3px;
        background: url(../imgs/icons/icon-checked-modal.svg) center no-repeat;
      }
    }
    &__label {
      margin-left: 43px;
      grid-column: span 2;
      position: relative;
      user-select: none;
      cursor: pointer;
      span {
        border-bottom: 1px solid #000;
      }
      &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        height: 30px;
        width: 30px;
        display: block;
        border: 1px solid #000;
        left: -43px;
        top: -7px;
      }
    }
    &__btn {
      grid-column: span 1;
      @include btn();
      border: none;
      color: #828282;
      background: #000;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }
  
}