.product-card {
  &__cell {
    display: block;
    max-width: 280px;
    padding: 10px 10px 0;
    grid-row: span 2;
    grid-column: span 1;
    &:hover {
      box-shadow: 2px 2px 20px rgba($color: #000000, $alpha: .2);
      box-shadow:
      0 1px 4px rgba(0, 0, 0, .3),
      -23px 0 20px -23px rgba(0, 0, 0, .8),
      23px 0 20px -23px rgba(0, 0, 0, .8),
      0 0 40px rgba(0, 0, 0, .1) inset;
      transition: box-shadow ease 0.3s;
    }
    &:nth-child(4) {
      grid-row: 1 / 4;
      grid-column: 4;
      .product-card__img {
        height: 616px;
        object-fit: cover;
      }
    }
    &:nth-child(11) {
      grid-row: 4 / 7;
      grid-column: 4;
      .product-card__img {
        height: 616px;
        object-fit: cover;
      }
    }
    &:nth-child(12) {
      grid-row: 7 / 10;
      grid-column: 1;
      .product-card__img {
        height: 616px;
        object-fit: cover;
      }
    }
    &:nth-child(19) {
      grid-row: 10 / 14;
      grid-column: 1;
      .product-card__img {
        height: 616px;
        object-fit: cover;
      }
    }
  }
  &__img {
    width: 100%;
    height: 373px;
    object-fit: cover;
    margin-bottom: 13px;
  }
  &__name {
    font-size: 15px;
    line-height: 107%;
    max-width: 174px;
    &::before {
      content: '/';
      padding-right: 2px;
    }
  }
  &__top-bar,
  &__down-bar {
    display: flex;
    justify-content: space-between;
  }
  &__top-bar {
    min-height: 54px;
  }
  &__down-bar {
    margin-bottom: 13px;
  }
  &__feature {
    font-size: 12px;
    line-height: 175%;
    text-align: right;
    color: #AFAFAF;
    margin-left: auto;
  }
  &__favorites-icon {
    cursor: pointer;
    width: 23px;
    height: 20px;
    &:hover {
      fill: $main;
    }
  }
  &__checkbox:checked + &__label{
    .product-card__favorites-icon {
      fill: $main;
      filter: drop-shadow(0 0 1px $main);
    }
  }
}

@media screen and (max-width: 1380px) {
  .catalog {
    &__gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .product-card {
    &__cell {
      &:nth-child(4) {
        grid-row: span 2;
        grid-column: span 1;
        .product-card__img {
          height: 373px;
        }
      }
      &:nth-child(11) {
        grid-row: span 2;
        grid-column: span 1;
        .product-card__img {
          height: 373px;
        }
      }
      &:nth-child(12) {
        grid-row: span 2;
        grid-column: span 1;
        .product-card__img {
          height: 373px;
        }
      }
      &:nth-child(19) {
        grid-row: span 2;
        grid-column: span 1;
        .product-card__img {
          height: 373px;
        }
      }
    }
  }
}


@media screen and (max-width: 991px) {
  .catalog {
    &__gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
  .product-card {
    &__cell:hover {
      box-shadow: none;
      box-shadow: none;
    }
  }
}


@media screen and (max-width: 767px) {
  .catalog {
    &__gallery {
      row-gap: 10px;
    }
    &__categories {
      display: none;
    }
    &__loading-btn {
      left: 50%;
    }
  }
  .product-card {
    &__cell {
      &:nth-child(5n + 5) {
        max-width: 100%;
        grid-row: span 4;
        grid-column: span 2;
        .product-card__img {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .catalog {
    &__gallery {
      column-gap: 0px;
      row-gap: 10px;
    }
  }
  .product-card {
    &__cell {
      padding-left: 5px;
      padding-right: 5px;
      &:nth-child(5n + 5) .product-card__img {
        min-height: 480px;
      }
    }
    &__down-bar {
      display: block;
    }
    &__feature {
      text-align: left;
    }
  }
}

@media screen and (max-width: 420px) {
  .catalog {
    &__gallery {
      display: block;
      width: 100%;
    }
  }
  .product-card {
    &__cell {
      display: block;
      margin: 0 auto; 
      &:nth-child(5n + 5) {
        display: block;
        margin: 0 auto;
        max-width: 280px;
        .product-card__img {
          min-height: 373px;
        }
      }
    }
  }
}