mixin contact-phone()
  a(href="tel:+74951501477").contact-details__phone ТЕЛ.: 7 (495) 150-14-77
mixin contact-phone-2()
  a(href="tel:+74951501477").contact-details__phone +7 (495) 150-14-77
mixin contact-whatsapp()
  a(href="tel:+79777282738").contact-details__whatsapp WHATSAPP: +7 (977) 728-27-38
mixin contact-email()
  a(href="mailto:http://info@eleanboutique.ru").contact-details__email EMAIL: info@eleanboutique.ru
mixin working-hours()
  .contact-details__mode с 9.00 до 21.00 шоурум: с 12.00 до 21.00
mixin contact-address()
  .contact-details__address г. Москва, Новая площадь 8, стр.2, 5 этаж

mixin contact-ip()
  .contact-details__ip ИП ПИСАРЕВА Е.М.
mixin contact-registry()
  .contact-details__registry ОГРНИП 307610509600011