.footer
    .container
        .footer__wrapper
            .footer__group-logo
                a(href="#").footer__logo-link
                    img(src="../../assets/imgs/logo.svg", alt="").footer__logo-img

            .footer__group-data
                a(href="tel:+8 (495) 150-14-77").footer__data-phone ТЕЛ.: 8 (495) 150-14-77
                a(href="tel:+7 (977) 728-27-38").footer__data-whatsapp WHATSAPP: +7 (977) 728-27-38
                
            .footer__group-email
                a(href="mailto:http://info@eleanboutique.ru") EMAIL: info@eleanboutique.ru

            .footer__group-nav
                .footer__nav
                    ul.footer__nav-list
                        li.footer__nav-item
                            a(href="#").footer__nav-link Доставка
                        li.footer__nav-item
                            a(href="#").footer__nav-link Оплата
                        li.footer__nav-item
                            a(href="#").footer__nav-link Возврат
                        li.footer__nav-item
                            a(href="#").footer__nav-link Размерная таблица
                        li.footer__nav-item
                            a(href="#").footer__nav-link Примерка
                        li.footer__nav-item
                            a(href="#").footer__nav-link Контакты

            .footer__group-address
                .footer__address-title Адрес
                .footer__address-text г. Москва, Новая площадь 8, стр.2, 5 этаж

            .footer__group-mode
                .footer__mode-title Режим работы
                .footer__mode-text с 9.00 до 21.00 шоурум: с 12.00 до 21.00

            .footer__group-social
                a.footer__social-icon(href="#")
                    +icon('instagram').topbar__social-icon--instagram
                a.footer__social-icon(href="#")
                    +icon('vkontakte').topbar__social-icon--vkontakte
                a.footer__social-icon(href="#")
                    +icon('facebook').topbar__social-icon--facebook
                

            .footer__group-form
                form(action="").footer__form
                    input(type="text", name="" placeholder="ИМЯ").footer__form-name
                    input(type="email", name="" placeholder="E-MAIL").footer__form-email

                    .footer__form-confidentiality 
                        input(type="checkbox", name="", id="footer-confidentiality").footer__form-checkbox
                        label(for="footer-confidentiality").footer__form-label
                            span Я согласен 
                            | с политикой конфиденциальности

                    button(type="submit").footer__form-btn Подписаться












//- .footer
//-     .container 
//-         .footer__wrapper
//-             .footer__group-data
//-                 a(href="").footer__logo-link
//-                     img(src="", alt="").footer__logo-img
//-                 a(href="tel:+8 (495) 150-14-77") ТЕЛ.: 8 (495) 150-14-77
//-                 a(href="tel:+7 (977) 728-27-38") WHATSAPP: +7 (977) 728-27-38
//-                 a(href="mailto:http://info@eleanboutique.ru") EMAIL: info@eleanboutique.ru

//-             .footer__group-nav
//-                 .footer__nav
//-                     ul.footer__nav-list
//-                         li.footer__nav-item
//-                             a(href="#").footer__nav-link Доставка
//-                         li.footer__nav-item
//-                             a(href="#").footer__nav-link Оплата
//-                         li.footer__nav-item
//-                             a(href="#").footer__nav-link Возврат
//-                         li.footer__nav-item
//-                             a(href="#").footer__nav-link Размерная таблица
//-                         li.footer__nav-item
//-                             a(href="#").footer__nav-link Примерка
//-                         li.footer__nav-item
//-                             a(href="#").footer__nav-link Контакты
//-                 .footer__info
//-                     .footer__info-title Адрес
//-                     .footer__info-text г. Москва, Новая площадь 8, стр.2, 5 этаж
//-                 .footer__info
//-                     .footer__info-title Режим работы
//-                     .footer__info-text с 9.00 до 21.00 шоурум: с 12.00 до 21.00

//-             .footer__group
//-                 form(action="").footer__form
//-                     input(type="text", name="").footer__form-name
//-                     input(type="email", name="").footer__form-email
//-                     label(for="footer-confidentiality").footer__form-label
//-                         input(type="checkbox", name="", id="footer-confidentiality").footer__form-checkbox
//-                         span.footer__form-confidentiality Я согласен с политикой конфиденциальности
//-                     input(type="submit", value="Подписаться")