header.header(id="header")
    .container
        .topbar
            .topbar__borger
                a(href="#" onclick="openMenu()").topbar__borger-link

            .topbar__social
                a.topbar__social-icon(href="#")
                    +icon('instagram').topbar__social-icon--instagram
                a.topbar__social-icon(href="#")
                    +icon('vkontakte').topbar__social-icon--vkontakte
                a.topbar__social-icon(href="#")
                    +icon('facebook').topbar__social-icon--facebook
                        
            .topbar__logo
                a(href="index.html").topbar__logo-link
                    +icon('logo').topbar__logo
                
            .topbar__phone
                a(href="tel:+7(495)1501477").topbar__phone-link +7 (495) 150 - 14 - 77
                
            .topbar__follow.topbar__follow--favorites
                a(href="").topbar__follow-link
                    img(src="../../assets/imgs/icons/heart.svg", alt="Избранное")

            .topbar__follow.topbar__follow--basket
                a(href="").topbar__follow-link
                    img(src="../../assets/imgs/icons/basket.svg", alt="Корзина")

        nav.nav
            ul.nav__list 
                li.nav__list-item
                    a(href="product.html").nav__list-link Новинки
                li.nav__list-item
                    a(href="catalog.html").nav__list-link Категории
                li.nav__list-item
                    a(href="#").nav__list-link Наши коллекции
                li.nav__list-item
                    a(href="#").nav__list-link Покупателям
                li.nav__list-item
                    a(href="#").nav__list-link О бренде
                li.nav__list-item
                    a(href="#").nav__list-link Шоурум
                li.nav__list-item
                    a(href="#").nav__list-link Контакты
                    
    .full(id="full").hidden
        .container
            .full__wrapper
                .full__inner
                    h3.full__title Категории
                    ul.full__list
                        mixin full-list-item(link_href, item)
                            li.full__list-item
                                a(href=link_href).full__list-link=item
                        +full-list-item('#', 'Юбки')
                        +full-list-item('#', 'Смокинг')
                        +full-list-item('#', 'Костюмы')
                        +full-list-item('#', 'Аксессуары')
                        +full-list-item('#', 'Брюки')
                        +full-list-item('#', 'Блузы')
                        +full-list-item('#', 'Платья')
                        +full-list-item('#', 'Топы и жилеты')
                .full__inner
                    h3.full__title Коллекции
                    ul.full__list
                        mixin full-list-item(link_href, item)
                            li.full__list-item
                                a(href=link_href).full__list-link=item
                        +full-list-item('#', 'Осень-зима 20-21')
                        +full-list-item('#', 'Вечерние комплекты')
                        +full-list-item('#', 'Предзаказ')
                        +full-list-item('#', 'Свадьба и выпускной')
                .full__inner
                    h3.full__title Покупателям
                    ul.full__list
                        mixin full-list-item(link_href, item)
                            li.full__list-item
                                a(href=link_href).full__list-link=item
                        +full-list-item('#', 'Доставка')
                        +full-list-item('#', 'Акции')
                        +full-list-item('#', 'Возврат')
                        +full-list-item('#', 'Размерная таблица')
                        +full-list-item('#', 'Примерка')
                        +full-list-item('#', 'Оптовым покупателям')
                .full__inner
                    h3.full__title О бренде
                    ul.full__list
                        mixin full-list-item(link_href, item)
                            li.full__list-item
                                a(href=link_href).full__list-link=item
                        +full-list-item('#', 'Шоурум')
                        +full-list-item('#', 'Отзывы')
                        +full-list-item('#', 'Статьи')
                        +full-list-item('#', 'Блог')
                .full__inner
                    h3.full__title Контакты

    .connection
        .connection__wrapper
            a(href="#header").connection__link-top вверх
            .connection__group
                a(href="#").connection__link
                    img(src="../../assets/imgs/icons/smartphone-icon.svg", alt="")
                a(href="#").connection__link
                    img(src="../../assets/imgs/icons/dialogue-icon.svg", alt="")