
h2.showroom__title Наш Шоурум
.swiper-container.showroom-swiper
  .swiper-wrapper
    mixin showroom-swiper-slide(img_src, desc)
      .swiper-slide.showroom-swiper__slide
        img(src=img_src, alt=desc).showroom-swiper__img
    +showroom-swiper-slide("../assets/imgs/showroom/photo-1.jpg", "фотография шоурума")
    +showroom-swiper-slide("../assets/imgs/showroom/photo-2.jpg", "фотография шоурума")
    +showroom-swiper-slide("../assets/imgs/showroom/photo-3.jpg", "фотография шоурума")
  .swiper-pagination.showroom-swiper__pagination

.appointment
  h2.appointment__title Записаться на примерку в шоуруме
  form(action="").appointment__form
    input(type="text", name="" placeholder="введите имя").appointment__form-name
    input(type="tel", name="" placeholder="введите телефон").appointment__form-phone
    input(type="text", name="" placeholder="введите удобное время").appointment__form-date
    textarea(name="", placeholder="добавить комментарий").appointment__form-comment
    input(type="submit", value="Записаться").appointment__form-btn
    .appointment__prompt Поля отмеченные “*” обязательны для заполнения