.showroom-form
  h2.showroom-form__title Записаться на примерку в шоуруме
  form(action="").showroom-form__form
    input(type="text", name="" placeholder="введите имя").showroom-form__name
    input(type="tel", name="" placeholder="введите телефон").showroom-form__phone
    input(type="text", name="" placeholder="введите удобное время").showroom-form__date
    textarea(name="", placeholder="добавить комментарий").showroom-form__comment
    input(type="submit", value="Записаться").showroom-form__btn
    .showroom-form__prompt Поля отмеченные “*” обязательны для заполнения