a.social-link(href="#")
  +icon('instagram').social-icon--instagram
a.social-link(href="#")
  +icon('vkontakte').social-icon--vkontakte
a.social-link(href="#")
  +icon('facebook').social-icon--facebook