extends layout/layout

block vars
  - var pageTitle = 'Вторая страница'
  - var pageBodyClass = ''
  - var pageFooterClass = 'footer--brand'

block content
  .brand 
    .container 
      h2.brand__title О бренде
      .brand__video
        img(src="../assets/imgs/brand/about-brand-1.jpg", alt="").brand__video-preview
      .brand__subtitle Elean
      .brand__text
        p.brand__paragraph Сегодня ELEAN - это первый в России магазин готового женского смокинга. У нас каждая женщина может подобрать для себя образ со смокингом, такой же как у голливудских див и звезд светской хроники.
        p.brand__paragraph Костюм со смокингом ELEAN - выбор звёзд эстрады и кино, телеведущих, fashion-стилистов, успешных женщин-руководителей, представительниц научной и деловой элиты.
        p.brand__paragraph История бренда началась задолго до первого показа, который состоялся 12 марта 2016 года, с мечты автора коллекции, Елены Писаревой о собственном бренде элегантной одежды и продолжалась долгие 30 лет накопления профессионального опыта. Вся первая коллекция была выполнена из 100% натурального шелка, в нее вошли жентсвенные платья и костюмы.
        p.brand__paragraph В сентябре 2016 года впервые был показан женский костюм со смокингом. В сентябре 2017 года в коллекции бренда было уже три модели женских смокингов на разные типы фигуры и вкус.
        p.brand__paragraph В 2018 году коллекцию пополнило еще 2 модели смокингов и сформирована полная капсула дополняющих изделия, таких как блуза с бабочкой, топ с кружевом и даже тельняшка. Жемчужиной базовой коллекции стало платье-смокинг.
        p.brand__paragraph Кроме базовой коллекции смокингов, каждый сезон мы выпускаем капсулу из 7-12 вещей, которые эффектно освежат ваш гардероб. Все коллекции бренда отшиваются только из натуральных тканей: шерсть и шелк.
      .brand-person__wrapper
        .brand-person
          img(src="../assets/imgs/brand/about-brand-2.jpg", alt="Фотография").brand__img
          .brand-person__name Елена Писарева
          p.brand-person__paragraph Автор коллекции, лекал и технологии пошива в бренде ELEAN. Имеет высшее образование инженера - технолога швейных изделий и опыт свыше 30 лет в разработке и пошиве изделий. 
        .brand-person
          img(src="../assets/imgs/brand/about-brand-3.jpg", alt="Фотография").brand__img
          .brand-person__name Анастасия и Анна
          p.brand-person__paragraph Дочери Елены, с детства впитывали мастерство мамы и взяли на себя роль в управлении и становлении бренда. Анна является главным стилистом и операционным управляющей. Анастасия управляет отделом маркетинга и рекламы.

    .brand-advantages
      .container
        .brand__subtitle.brand__subtitle--alt наши преимущества
        .brand-advantages__wrapper
          mixin advantages-item(mod, text)
            .brand-advantages__item(class=mod)
              .brand-advantages__text=text
          +advantages-item('brand-advantages__item--individual', 'Уровень пошива приравнивается к индивидуальному;')
          +advantages-item('brand-advantages__item--patterns', 'Создаем лекала для костюмов, которые подчеркивают достоинства и скрывают недостатки фигуры;')
          +advantages-item('brand-advantages__item--quality', 'Качественное исполнение: ровные отстрочки, красивая обработка – вы можете носить вещи даже изнаночной стороной;')
          +advantages-item('brand-advantages__item--modern', 'Используем современное оборудование и качественные материалы для изготовления изделий;')
          +advantages-item('brand-advantages__item--experience', 'Наши швеи занимаются пошивом и конструированием одежды более 20 лет. За это время их навыки доведены до идеала... ')
    
    .brand-showroom
      .container
        include components/showroom-form