extends layout/layout
include components/contact-details

block vars
  - var pageTitle = 'Контакты'
  - var pageBodyClass = ''
  - var pageHeaderClass = ''

block content 
  .contacts 
    .container
      h2.contacts__title Контакты
      .contacts__wrapper

        .contacts__block.contacts__block--map
          iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A81fdc4e2f6baf3d9e81059cf43bf5c90d8b63d88720fa221c237302fb0e20385&amp;source=constructor").contacts__map

        .contacts__block.contacts__block--data
          ul.contacts__list.contacts__list--multicolumn
            li.contacts__item.contacts__item--phone
              +contact-phone()
            li.contacts__item.contacts__item--email
              +contact-email()
            li.contacts__item.contacts__item--whatsapp
              +contact-whatsapp()
            li.contacts__item.contacts__item--ip
              +contact-ip()
            li.contacts__item.contacts__item--registry 
              +contact-registry()

          h2.contacts__title.contacts__title--address Адрес и режим работы
          ul.contacts__list
            li.contacts__item.contacts__item--working-time
              +working-hours()
            li.contacts__item.contacts__item--address АДРЕС: 
              +contact-address()
        
        .contacts__block.contacts__block--form
          include components/showroom-form
