extends layout/layout

block vars
  - var pageTitle = 'Доставка'
  - var pageBodyClass = ''
  - var pageFooterClass = ''

block content
  .delivery 
    .container 
      .delivery__title Доставка
      .delivery__action
        .delivery__action-item Обмен
        .delivery__action-item Возврат
        .delivery__action-item Оплата
      .delivery__wrapper
        .delivery__block 
          img(src="", alt="").delivery__img
        .delivery__block 
        h3.delivery__subtitle Виды доставки
