extends layout/layout

block vars
  - var pageTitle = 'Избранное'
  - var pageBodyClass = ''
  - var pageHeaderClass = ''

block content
  .favorites
    .container
       h2.favorites__title Избранное