extends layout/layout

block vars
  - var pageTitle = 'Оформление заказа'
  - var pageBodyClass = ''
  - var pageHeaderClass = ''

block content
  .ordering
    .container
      .ordering__title Оформление заказа