extends layout/layout

block vars
  - var pageTitle = 'Оформление заказа'
  - var pageBodyClass = ''
  - var pageHeaderClass = ''

block content
  .registration
    .container 
      h2.registration__title Оформление заказа