extends layout/layout

block vars
  - var pageTitle = 'Отзывы'
  - var pageBodyClass = ''
  - var pageHeaderClass = ''

block content
  .reviews
    .container

      h2.reviews__title Отзывы
      include components/reviews-video
      
      h2.reviews__title Наши звёздные клиенты
      include components/clients-and-review