extends layout/layout

block vars
  - var pageTitle = 'Шоурум'
  - var pageBodyClass = ''
  - var pageHeaderClass = ''

block content
  .showroom
    .container
      include components/showroom-gallery
      include components/showroom-form